<!doctype html>
<html class="no-js" lang="">
    <head>
		<img src="http://i58.tinypic.com/2uy11qo.png" alt="DataBaking logo">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Databaking</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <br>
        
        <form action="/search/" method="get">
            <ul>
            <input type="text" name="q">
                <input type="submit" value="Search">
            </ul>    
        </form><br>

        <form action="/fancy_search/" method="get">
            <ul>
                <li style="list-style: none;"><input type="text" name="category"> Category</li>
                <li style="list-style: none;"><input type="text" name="desired_ingredients"> Desired Ingredients</li>
                <li style="list-style: none;"><input type="text" name="undesired_ingredients"> Ingredients to Avoid</li>
                <li style="list-style: none;"><input type="text" name="username"> Your Username</li>
                <li style="list-style: none;"><input type="text" name="maximum_cost"> Maximum Amount You're Willing to Spend</li>
                <li style="list-style: none;"><input type="text" name="num_servings"> Number of Servings to Make</li>
                <li style="list-style: none;"><input type="submit" value="Fancy Search"></li>
            </ul>
        </form><br>

        <form action="/insert/" method="post" class = "form-inline">
            {% csrf_token %}
            <ul>
                <li style="list-style: none;"><input type="text" name="recipe_name"> Name</li>
                <li style="list-style: none;"><input type="text" name="recipe_category"> Category</li>
                <li style="list-style: none;"><input type="text" name="recipe_rating"> Rating</li>
                <li style="list-style: none;"><input type="text" name="recipe_cooktime"> Cooktime</li>
                <li style="list-style: none;"><input type="text" name="recipe_number_of_servings"> Number of Servings</li>
                <li style="list-style: none;"><input type="text" name="recipe_difficulty"> Difficulty</li>
                <li style="list-style: none;"><input type="text" name="recipe_directions"> Directions</li>
                <li style="list-style: none;"><input type="submit" value="Add Recipe"></li>
            </ul>  
        </form><br>

        <form action="/delete/" method="post">
            {% csrf_token %}
            <ul>
                <input type="text" name="q">
                <input type="submit" value="Delete Recipe by Name">
            </ul>
        </form><br>
           
            
           
        <form action="/insert_pantry/" method="post">
            {% csrf_token %}
            <ul>
                <li style="list-style: none;"><input type="text" name="pantry_username"> Username</li>
                <li style="list-style: none;"><input type="text" name="pantry_ingredients"> Ingredients(Ingredient:Amount, Ingredient:Amount, ...)</li>
                <li style="list-style: none;"><input type="submit" value="Insert/Update Pantry"></li>
            </ul> 
        </form><br>

        <form action="/view_pantry/" method="get">
            {% csrf_token %}
            <ul>
                <input type="text" name="view_pantry">
                <input type="submit" value="View Pantry by Username">
            </ul>
        </form><br>

        <form action="/delete_pantry/" method="post">
            {% csrf_token %}
            <ul>
                <input type="text" name="q">
                <input type="submit" value="Delete Pantry by Username">   
            </ul>    
        </form><br>
            
         
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
