<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>

    <p> You searched for: <strong> {{query}}</strong></p>

    {% if recipes %}
        <p> Fround {{recipes|length}} recipe{{recipes|pluralize}}</p>
        <ul>
            {% for recipe in recipes %}
            <li>{{recipe.name}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p> No recipes matched your search criteria</p>
    {% endif %}

</body>
</html>
